h1 {
  color:#9309E8;
}
.h11{
  color: #007BFF;
}
button:hover {
  background-color: #0056b3;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  h1, p, img, a {
    margin: 10px 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  
  body {
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  h1 {
    font-family: 'Titan One', cursive;
    font-size: 2.5em;
    margin-bottom: 10px;
  }

  p {
    margin: 5px 0;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }
